@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="mt-4">Trending Now</h1>
    <div class="row">
        <div class="col-md-3" style="margin-bottom: 20px;">
            <div class="card">
                <a href="https://www.youtube.com/watch?v=3zQz2pT3ZcM" target="_blank">
                    <img src="https://img.youtube.com/vi/3zQz2pT3ZcM/0.jpg" class="card-img-top" alt="YouTube Thumbnail">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Why This Kolaveri Di</h5>
                    <p class="card-text">Dhanush</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
            <div class="card">
                <a href="https://www.youtube.com/watch?v=3PZqF4gA0tA" target="_blank">
                    <img src="https://img.youtube.com/vi/3PZqF4gA0tA/0.jpg" class="card-img-top" alt="YouTube Thumbnail">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Rowdy Baby</h5>
                    <p class="card-text">Dhanush, Sai Pallavi</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
            <div class="card">
                <a href="https://www.youtube.com/watch?v=3zQz2pT3ZcM" target="_blank">
                    <img src="https://img.youtube.com/vi/3zQz2pT3ZcM/0.jpg" class="card-img-top" alt="YouTube Thumbnail">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Vaathi Coming</h5>
                    <p class="card-text">Thalapathy Vijay</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
            <div class="card">
                <a href="https://www.youtube.com/watch?v=3PZqF4gA0tA" target="_blank">
                    <img src="https://img.youtube.com/vi/3PZqF4gA0tA/0.jpg" class="card-img-top" alt="YouTube Thumbnail">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Enjoy Enjaami</h5>
                    <p class="card-text">Dhee, Arivu</p>
                </div>
            </div>
        </div>
    </div>
</div>
